
.sidenav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.navItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItems li {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.navItems li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  transition: 0.3s;
}

.navItems li a:hover {
  background-color: #555;
}

.navItems li.active a {
  background-color: #555;
  border-left: 5px solid #ffcc00;
}

.sidenav h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
