.app {
  display: flex;
  height: 100vh;
}


.calendar-container {
  height: calc(100vh - 40px); /* Subtract padding from content area */
  overflow-y: auto; /* Add scrollbar if content exceeds container height */
  box-shadow: 5px 5px 0px 0px rgba(109,40,217);
  background-color: #EAF6FF;
}


@media screen and (max-width: 576px) {
 .app {
  display: flex;
  flex-direction: column;
 }

 .calendar-container {
  width: 100vw;
  height: 50vh;
  background-color: #FFFFFF;
  color: black;
 }
}  

@media screen and (max-width: 768px) {
  

  .calendar-container {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    color: black;
   }
}